<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button class="topbutton" routerLink="house" routerLinkActive="routeActive" mat-button>House</a>
    <a mat-button class="topbutton" routerLink="outside" routerLinkActive="routeActive" mat-button>Outside</a>
    <a mat-button class="topbutton" routerLink="." routerLinkActive="" mat-button>Pool</a>
    <a mat-button class="topbutton" routerLink="." routerLinkActive="" mat-button>Shed</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>